ul li{
	list-style-type: none;
}
a{
	text-decoration: none;
}
.list{
	width: 130px;
	height: 205px;
	background:#FAFAFA;
	border-radius: 5px;
	margin: 0 auto;
	padding:10px;
	font-size: 12px;
    border: 1px solid #000;
}
.list>li{
	margin:12px 0;
}
.list>li:first-child{
	border-bottom: 1px solid #000;
    padding-bottom: 10px;
    margin: 0;
}
.list>li:first-child span{
	font-weight: bold;
}
.list>li:first-child a{
	color:blue;
}
.list>li span{
	vertical-align: text-bottom;
}
.list>li a{
	vertical-align: text-bottom;
}
