<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<style>
	.icon_hot{
		float:left;
	}
	h3{
		margin-left:24px;
	}
	
	.pic2{
		margin-left:5px;
	}
	p{
		color:#aaa;
	}
	.img_content > a {
		display: inline-block;
	} 
	/* .img_content > a:not(:first-child){ 
		margin-left:15px;
	} */
	/* :not 非选择器*/
</style>
</head>
<body>
	<div>
		<div>
			<img src="../../img/b.jpg" class="icon_hot" />
			<h3>朝鲜庆祝卫星发射 称没有出现0.001毫米误差</h3>

			<!-- 标题可以用a标签去写 -->
		</div>
		<div class="img_content">
			<a href="#"><img src="../../img/1-1.jpg" /></a>


			<!-- 三个列表以上数量的可以，用ul,li包裹着里面的内容。例如ul>li>a>img -->

			
			<a href="#"><img src="../../img/1-2.jpg" /></a>
			<a href="#"><img src="../../img/1-3.jpg" /></a>
		</div>
		<div>
			<p>网易军事 02-16 07:42</p>
		</div>
	</div>
</body>
</html>