<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <style>
  ul {
    list-style-type:square;
    width: 500px;  
  }
   .a
   {
   	line-height:30px;
   	color:#666;
   }
   /*直接合并成ul*/
ul li {
  float: left;
  width: 200px;
}

  </style>
</head>
<body>
  <ul class="a">
    <li>女性恋爱起步价</li>
    <li>女性恋爱起步价</li>
    <li>女性恋爱起步价</li>
    <li>女性恋爱起步价</li>
    <li>女性恋爱起步价</li>
    <li>女性恋爱起步价</li>
    <li>女性恋爱起步价</li>
    <li>女性恋爱起步价</li>
  </ul>

</body>
</html>