<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>css sprite</title>
	<style>
		.btn {
			display: inline-block;
			width: 200px;
			height: 65px;
			background: url(../../img/btn.png) no-repeat;			
		}
	/* 	.btn:hover{
		background-position: 0px -64px;
	} */
		.btn1 {
			background-position: 0 0;
		}
		.btn2 {
			background-position: 0 -66px;
		}
		.btn3 {
			background-position: 0 -133px;
		}
	</style>
</head>
<body>
	<a href="" class="btn btn1"></a>
	<a href="" class="btn btn2"></a>
	<a href="" class="btn btn3"></a>
</body>
</html>