<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>企业网站</title>
	<link rel="stylesheet" href="../css/companyNetwork.css">
</head>
<body>
	<div class="container">
		<div id="header">
			<a href="#"class="menu"></a>
			<span>
				<img src="../img/companyNetwork/logo.svg" alt="">
			</span>
			<a href="#" class="backBtn"></a>
		</div>
		<div class="nav">
			<i></i>welcome friend!
		</div>
		<div class="carouselPic">
			<img src="../img/companyNetwork/2.jpg" alt="">
		</div>
		<div class="mainTex">
			<div class="list">
				<span class="list_g"></span>
				<h5>Responsible</h5>
				<p>
					<span class="text_green">Lorem Ipsum</span> 
				    is simply dummy text of the printing...
				</p>
			</div>
			<div class="list">
				<span class="list_o"></span>
				<h5>Responsible</h5>
				<p>
					<span class="text_orange">Lorem Ipsum</span> 
				    is simply dummy text of the printing...
				</p>
			</div>
			<div class="list">
				<span class="list_r"></span>
				<h5>Responsible</h5>
				<p>
					<span class="text_red">Lorem Ipsum</span> 
				    is simply dummy text of the printing...
				</p>
			</div>
		</div>
		<div class="footer">
			<div class="footer_t">
				<h5>Explore our site</h5>
			</div>
			<div class="footer_m">
				<a href="#">
					<i class="icon"></i>
					<h4>Home</h4>
				</a>
				<a href="#" class="middle">
					<i class="icon"></i>
					<h4>Home</h4>
				</a>
				<a href="#">
					<i class="icon"></i>
					<h4>Home</h4>
				</a>
				<a href="#">
					<i class="icon"></i>
					<h4>Home</h4>
				</a>
				<a href="#" class="middle">
					<i class="icon"></i>
					<h4>Home</h4>
				</a>
				<a href="#">
					<i class="icon"></i>
					<h4>Home</h4>
				</a>
			
			</div>
			<div class="footer_b">
				<a href="#" class="ico-facebook" ></a>
				<a href="#" class="ico-twitter" ></a>
				<a href="#" class="ico-linkedin" ></a>
				<a href="#" class="ico-gplus"></a>
				<a href="#" class="ico-youtube" ></a>
				<a href="#" class="ico-tumblr" ></a>
				<a href="#" class="ico-pinterest" ></a>
			</div>
		</div>
</body>
</html>