<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Document</title>
	<link rel="stylesheet" href="../css/gameSite.css">
	<link rel="stylesheet" href="../css/swiper.min.css">
	<link rel="stylesheet" href="../css/style.css">
	

</head>
<body>
	<div class="main">
		<div class="row">
			<div class="header">
				<a href="" class="header_menu"></a>
				<i class="header_logo">
					<img src="../img/gameSite/logo.png" alt="">
				</i>
				<a href="" class="header_search"></a>		
			</div>
		</div>
		<div class="row">
			<div class="swiper-container" dir="rtl">
		        <div class="swiper-wrapper">
		            <div class="swiper-slide">
		            	<img src="../img/gameSite/1399518674.jpg" alt=""/>
		            </div>
		            <div class="swiper-slide">
		            	<img src="../img/gameSite/1399518636.jpg" alt=""/>
		            </div>
		            <div class="swiper-slide">
		            	<img src="../img/gameSite/1399518651.jpg" alt=""/>
		            </div>
		        </div>
		        <div class="swiper-pagination"></div>
		        <div class="swiper-button-prev"></div>
		        <div class="swiper-button-next"></div>
		    </div> 
		</div> 
		<div class="row">
			<ul class="navList">
				<li>
					<div class="navPic"></div>
					<h5>安卓手机</h5>
				</li>	
				<li>
					<div class="navPic"></div>
					<h5>安卓手机</h5>
				</li>
				<li>
					<div class="navPic"></div>
					<h5>安卓手机</h5>
				</li>
				<li>
					<div class="navPic"></div>
					<h5>安卓手机</h5>
				</li>
				<li>
					<div class="navPic"></div>
					<h5>安卓手机</h5>
				</li>	
			</ul>
		</div> 
		<div class="row">
			<div class="titleBar">
			    <i></i>
				<h3>推荐手游</h3>
				<a href="">更多</a>
			</div>
			<ul class="gameList">
				<li class="gameList1">
					<div class="gameList_content">
						<img src="../img/gameSite/1397724791.jpg" class="gameImg"/>
						<h4>万人炸金花</h4>
						<p>人气：<span>677</span></p>
						<p>大小：<span>6.9MB</span></p>
						<a href="" class="gameDown"><i></i>抢先下载</a>
					</div>
				</li>
				<li class="gameList1">
					<div class="gameList_content">
						<img src="../img/gameSite/1397724791.jpg" class="gameImg"/>
						<h4>万人炸金花</h4>
						<p>人气：<span>677</span></p>
						<p>大小：<span>6.9MB</span></p>
						<a href="" class="gameDown"><i></i>抢先下载</a>
					</div>
				</li>		
				<li class="gameList1">
					<div class="gameList_content">
						<img src="../img/gameSite/1397724791.jpg" class="gameImg"/>
						<h4>万人炸金花</h4>
						<p>人气：<span>677</span></p>
						<p>大小：<span>6.9MB</span></p>
						<a href="" class="gameDown"><i></i>抢先下载</a>
					</div>
				</li>		
				<li class="gameList1">
					<div class="gameList_content">
						<img src="../img/gameSite/1397724791.jpg" class="gameImg"/>
						<h4>万人炸金花</h4>
						<p>人气：<span>677</span></p>
						<p>大小：<span>6.9MB</span></p>
						<a href="" class="gameDown"><i></i>抢先下载</a>
					</div>
				</li>		
				<li class="gameList1">
					<div class="gameList_content">
						<img src="../img/gameSite/1397724791.jpg" class="gameImg"/>
						<h4>万人炸金花</h4>
						<p>人气：<span>677</span></p>
						<p>大小：<span>6.9MB</span></p>
						<a href="" class="gameDown"><i></i>抢先下载</a>
					</div>
				</li>		
				<li class="gameList1">
					<div class="gameList_content">
						<img src="../img/gameSite/1397724791.jpg" class="gameImg"/>
						<h4>万人炸金花</h4>
						<p>人气：<span>677</span></p>
						<p>大小：<span>6.9MB</span></p>
						<a href="" class="gameDown"><i></i>抢先下载</a>
					</div>
				</li>	
				<li class="gameList1">
					<div class="gameList_content">
						<img src="../img/gameSite/1397724791.jpg" class="gameImg"/>
						<h4>万人炸金花</h4>
						<p>人气：<span>677</span></p>
						<p>大小：<span>6.9MB</span></p>
						<a href="" class="gameDown"><i></i>抢先下载</a>
					</div>
				</li>
				<li class="gameList1">
					<div class="gameList_content">
						<img src="../img/gameSite/1397724791.jpg" class="gameImg"/>
						<h4>万人炸金花</h4>
						<p>人气：<span>677</span></p>
						<p>大小：<span>6.9MB</span></p>
						<a href="" class="gameDown"><i></i>抢先下载</a>
					</div>
				</li>
				<li class="gameList1">
					<div class="gameList_content">
						<img src="../img/gameSite/1397724791.jpg" class="gameImg"/>
						<h4>万人炸金花</h4>
						<p>人气：<span>677</span></p>
						<p>大小：<span>6.9MB</span></p>
						<a href="" class="gameDown"><i></i>抢先下载</a>
					</div>
				</li>					
			</ul>	
		</div>
		<div class="row">
			<div class="titleBar">
				<i></i>
				<h3>最新资讯</h3>
				<a href="">更多</a>
			</div>
		
			<ul class="picList">
				<li>
					<a class="pic">
						<img src="../img/gameSite/1407829910.jpg" alt="" class="picList_pic">
					</a>
					<h4>《天天酷跑》策划疑遭开除 仅因家属为刀塔传奇研发商</h4>
					<p>今日，陈晓华在网上发布长篇博文，称其已接到腾讯通知要被开除。据博文中称述，陈小花自2012年7月从复旦大学研究生毕业之后就加入腾讯公司，并陆续担任《天天连萌》和《天天跑酷》的游戏运营及策划。陈小花在博文中指出...</p>
				</li>
				<li>
					<a class="pic">
						<img src="../img/gameSite/1407829910.jpg" alt="" class="picList_pic">
					</a>
					<h4>《天天酷跑》策划疑遭开除 仅因家属为刀塔传奇研发商</h4>
					<p>今日，陈晓华在网上发布长篇博文，称其已接到腾讯通知要被开除。据博文中称述，陈小花自2012年7月从复旦大学研究生毕业之后就加入腾讯公司，并陆续担任《天天连萌》和《天天跑酷》的游戏运营及策划。陈小花在博文中指出...</p>
				</li>
			</ul>
			
			<ul class="textList">
			    <li>
				  <span class="textList_title">[新游速递]</span>
				  <a href="#">《全名切水果》蜕变之旅变得更加精彩缤纷 来体验下 ？</a>
				</li>
			    <li>
				  <span class="textList_title">[新游速递]</span>
				  <a href="#">《全名切水果》蜕变之旅变得更加精彩缤纷 来体验下 ？</a>
				</li>
			    <li>
				  <span class="textList_title">[新游速递]</span>
				  <a href="#">《全名切水果》蜕变之旅变得更加精彩缤纷 来体验下 ？</a>
				</li>
			    <li>
				  <span class="textList_title">[新游速递]</span>
				  <a href="#">《全名切水果》蜕变之旅变得更加精彩缤纷 来体验下 ？</a>
				</li>
			    <li>
				  <span class="textList_title">[新游速递]</span>
				  <a href="#">《全名切水果》蜕变之旅变得更加精彩缤纷 来体验下 ？</a>
				</li>
			</ul>
        
		</div>
		<div class="row">
			<div class="footer">
				<a>手机版</a>
				<div class="footer_line"></div>
				<a href="">回到顶部</a>
				<a href="" class="footer_more">更多>></a>
				<a>模板之家</a>
				<div class="footer_line"></div>
			</div>
		</div>
	</div>

    <!-- Swiper JS --> 
    <script src="../js/swiper.min.js"></script> 

    <!-- Initialize Swiper -->
    <script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        paginationClickable: true,
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        loop : true,
        autoplay : 4000
    });
     </script>
</body>
</html>