<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/gameSite-2.css">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-2">
				<a href="#" class="header_menu"></a>
			</div>
			<div class="col-md-8">
				<a href="#" class="header_logo"></a>
			</div>
			<div class="col-md-2">
				<a href="#" class="header_search"></a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<a href="#" class="bigPic">
					<img src="../img/gameSite/1399518651.jpg" alt="">
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2 nav">
				<a href="#" class="navPic"></a>
				<h5 class="navText">安卓手机</h5>
			</div>
			<div class="col-md-2 nav">
				<a href="#" class="navPic"></a>
				<h5 class="navText">安卓手机</h5>
			</div>
			<div class="col-md-2 nav">
				<a href="#" class="navPic"></a>
				<h5 class="navText">安卓手机</h5>
			</div>
			<div class="col-md-2 nav">
				<a href="#" class="navPic"></a>
				<h5 class="navText">安卓手机</h5>
			</div>
			<div class="col-md-2 nav">
				<a href="#" class="navPic"></a>
				<h5 class="navText">安卓手机</h5>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 titleBar">
				<h3>推荐手游</h3>
				<a href="#">更多</a>
			</div>
			<div class="col-md-4 gamelist_content">
				<img src="../img/gameSite/1397724791.jpg" class="gameImg">
				<h4>万人炸金花</h4>
				<p>人气：<span>677</span></p>
				<p>大小：<span>6.9MB</span></p>
				<a href="" class="gameDown"><i></i>抢先下载</a>
			</div>
			<div class="col-md-4 gamelist_content">
				<img src="../img/gameSite/1397724791.jpg" class="gameImg">
				<h4>万人炸金花</h4>
				<p>人气：<span>677</span></p>
				<p>大小：<span>6.9MB</span></p>
				<a href="" class="gameDown"><i></i>抢先下载</a>
			</div>
			<div class="col-md-4 gamelist_content">
				<img src="../img/gameSite/1397724791.jpg" class="gameImg">
				<h4>万人炸金花</h4>
				<p>人气：<span>677</span></p>
				<p>大小：<span>6.9MB</span></p>
				<a href="" class="gameDown"><i></i>抢先下载</a>
			</div>
			<div class="col-md-4 gamelist_content">
				<img src="../img/gameSite/1397724791.jpg" class="gameImg">
				<h4>万人炸金花</h4>
				<p>人气：<span>677</span></p>
				<p>大小：<span>6.9MB</span></p>
				<a href="" class="gameDown"><i></i>抢先下载</a>
			</div>
			<div class="col-md-4 gamelist_content">
				<img src="../img/gameSite/1397724791.jpg" class="gameImg">
				<h4>万人炸金花</h4>
				<p>人气：<span>677</span></p>
				<p>大小：<span>6.9MB</span></p>
				<a href="" class="gameDown"><i></i>抢先下载</a>
			</div>
			<div class="col-md-4 gamelist_content">
				<img src="../img/gameSite/1397724791.jpg" class="gameImg">
				<h4>万人炸金花</h4>
				<p>人气：<span>677</span></p>
				<p>大小：<span>6.9MB</span></p>
				<a href="" class="gameDown"><i></i>抢先下载</a>
			</div>
			<div class="col-md-4 gamelist_content">
				<img src="../img/gameSite/1397724791.jpg" class="gameImg">
				<h4>万人炸金花</h4>
				<p>人气：<span>677</span></p>
				<p>大小：<span>6.9MB</span></p>
				<a href="" class="gameDown"><i></i>抢先下载</a>
			</div>
			<div class="col-md-4 gamelist_content">
				<img src="../img/gameSite/1397724791.jpg" class="gameImg">
				<h4>万人炸金花</h4>
				<p>人气：<span>677</span></p>
				<p>大小：<span>6.9MB</span></p>
				<a href="" class="gameDown"><i></i>抢先下载</a>
			</div>
			<div class="col-md-4 gamelist_content">
				<img src="../img/gameSite/1397724791.jpg" class="gameImg">
				<h4>万人炸金花</h4>
				<p>人气：<span>677</span></p>
				<p>大小：<span>6.9MB</span></p>
				<a href="" class="gameDown"><i></i>抢先下载</a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 titleBar">
				<h3>最新资讯</h3>
				<a href="#">更多</a>
			</div>
			<div class="row picList">
				<div class="col-md-2">
					<img src="../img/gameSite/1407829910.jpg" alt="" class="picList_pic">
				</div>
				<div class="col-md-10 picList_text">
					<h4>《天天酷跑》策划疑遭开除 仅因家属为刀塔传奇研发商</h4>
					<span>今日，陈晓华在网上发布长篇博文，称其已接到腾讯通知要被开除。据博文中称述，陈小花自2012年7月从复旦大学研究生毕业之后就加入腾讯公司，并陆续担任《天天连萌》和《天天跑酷》的游戏运营及策划。陈小花在博文中指出...</span>
				</div>
			</div>
			<div class="row picList">
				<div class="col-md-2">
					<img src="../img/gameSite/1407829910.jpg" alt="" class="picList_pic">
				</div>
				<div class="col-md-10 picList_text">
					<h4>《天天酷跑》策划疑遭开除 仅因家属为刀塔传奇研发商</h4>
					<span>今日，陈晓华在网上发布长篇博文，称其已接到腾讯通知要被开除。据博文中称述，陈小花自2012年7月从复旦大学研究生毕业之后就加入腾讯公司，并陆续担任《天天连萌》和《天天跑酷》的游戏运营及策划。陈小花在博文中指出...</span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 textList">
					  <span class="textList_title">[新游速递]</span>
					  <span class="textList_text">《全名切水果》蜕变之旅变得更加精彩缤纷来体验下？</span>
				</div>
				<div class="col-md-12 textList">
					  <span class="textList_title">[新游速递]</span>
					  <span class="textList_text">《全名切水果》蜕变之旅变得更加精彩缤纷来体验下？</span>
				</div>
				<div class="col-md-12 textList">
					  <span class="textList_title">[新游速递]</span>
					  <span class="textList_text">《全名切水果》蜕变之旅变得更加精彩缤纷来体验下？</span>
				</div>
				<div class="col-md-12 textList">
					  <span class="textList_title">[新游速递]</span>
					  <span class="textList_text">《全名切水果》蜕变之旅变得更加精彩缤纷来体验下？</span>
				</div>
				<div class="col-md-12 textList">
					  <span class="textList_title">[新游速递]</span>
					  <span class="textList_text">《全名切水果》蜕变之旅变得更加精彩缤纷来体验下？</span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 titleBar">
				<h3>最新资讯</h3>
				<a href="#">更多</a>
			</div>
			<div class="row picList">
				<div class="col-md-2">
					<img src="../img/gameSite/1407829910.jpg" alt="" class="picList_pic">
				</div>
				<div class="col-md-10 picList_text">
					<h4>《天天酷跑》策划疑遭开除 仅因家属为刀塔传奇研发商</h4>
					<span>今日，陈晓华在网上发布长篇博文，称其已接到腾讯通知要被开除。据博文中称述，陈小花自2012年7月从复旦大学研究生毕业之后就加入腾讯公司，并陆续担任《天天连萌》和《天天跑酷》的游戏运营及策划。陈小花在博文中指出...</span>
				</div>
			</div>
			<div class="row picList">
				<div class="col-md-2">
					<img src="../img/gameSite/1407829910.jpg" alt="" class="picList_pic">
				</div>
				<div class="col-md-10 picList_text">
					<h4>《天天酷跑》策划疑遭开除 仅因家属为刀塔传奇研发商</h4>
					<span>今日，陈晓华在网上发布长篇博文，称其已接到腾讯通知要被开除。据博文中称述，陈小花自2012年7月从复旦大学研究生毕业之后就加入腾讯公司，并陆续担任《天天连萌》和《天天跑酷》的游戏运营及策划。陈小花在博文中指出...</span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 textList">
					  <span class="textList_title">[新游速递]</span>
					  <span class="textList_text">《全名切水果》蜕变之旅变得更加精彩缤纷来体验下？</span>
				</div>
				<div class="col-md-12 textList">
					  <span class="textList_title">[新游速递]</span>
					  <span class="textList_text">《全名切水果》蜕变之旅变得更加精彩缤纷来体验下？</span>
				</div>
				<div class="col-md-12 textList">
					  <span class="textList_title">[新游速递]</span>
					  <span class="textList_text">《全名切水果》蜕变之旅变得更加精彩缤纷来体验下？</span>
				</div>
				<div class="col-md-12 textList">
					  <span class="textList_title">[新游速递]</span>
					  <span class="textList_text">《全名切水果》蜕变之旅变得更加精彩缤纷来体验下？</span>
				</div>
				<div class="col-md-12 textList">
					  <span class="textList_title">[新游速递]</span>
					  <span class="textList_text">《全名切水果》蜕变之旅变得更加精彩缤纷来体验下？</span>
				</div>
			</div>
		</div>
		
			

	</div>
</body>
</html>