<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="../css/individualPage.css">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>
	<div class="wrap">
		<div class="header">
			<a href="#">返回</a>
			<span>个人中心</span>
		</div>
		<div class="row">
			<div class="personal">
				<div class="personalPic"></div>
				<div class="personalText">
					<h5>--凌乱</h5>
					<span>ID 1271543621</span>
				</div>
			</div>
		</div>
		<div class="row">
	    	<ul class="menuBar fix">
	    		<li class="menu"><i class="idt"></i>订单</li>
	    		<li class="menu"><i class="clt"></i>收藏</li>
	    		<li class="menu"><i class="rcm"></i>推荐</li>
	    	</ul>
		</div>
		<div class="row">
		   	<ul class="list"> 
		   		<li>修改个人资料</li>
		   		<li>修改密码</li>
		   	</ul>
		 </div>
		<div class="row">
		   	<ul class="list">
		   		<li>声音推送通知</li>
		   	</ul>
		</div>
		<div class="row" style="margin-bottom: 55px;">
		   	<ul class="list">
		   		<li>猜你喜欢</li>
		   		<li>附近热门</li>
		   		<li>推荐商家</li>
		   		<li>设置</li>
		    </ul>
		</div>
		<div class="footer">
			<ul class="footer_content fix">
				<li>
					<div class="footer_icon"></div>
					<h5>首页</h5>
				</li>
				<li>
					<div class="footer_icon"></div>
					<h5>商家</h5>
				</li>
				<li>
					<div class="footer_icon"></div>
					<h5>申请加盟</h5>
				</li>
				<li>
					<div class="footer_icon"></div>
					<h5>个人中心</h5>
				</li>
			</ul>
		</div>
	</div>	
</body>
</html>