<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>login</title>
	<link rel="stylesheet" href="../css/login.css">
</head>
<body>
	<div class="container">
		<div class="signBar">
			<a href="#" class="btnLog">用户登录</a>
			<a href="#" class="btnRes">注册新用户</a>
		</div>
		<form action="" class="loginForm">
			<div class="row">
				<input type="text" class="userName" placeholder="请输入用户名"/>
			</div>
			<div class="row">
				<input type="password" class="userPw" placeholder="请输入密码"/>
			</div>
			<div class="row">
				<p class="rememberType">
					<input type="checkbox" id="remember">
					<label for="remember">记住登录状态</label>
				</p>
			</div>
			<div class="row">
				<a href="#" class="btnSub">登录</a>
			</div>
		</form>
	</div>
</body>
</html>