<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>早茶菜单</title>
	<link rel="stylesheet" href="../css/menu.css">
</head>
<body>
	<div class="container">
		<div class="content_l">
			<div class="row">
				<h5>42-1032821 F45JHck42</h5>
			</div>
			<div class="row">
				<button class="checkOut">结账</button>
				<button class="numberMenu" id="numberMenu">数字落单</button>
			</div>
			<div class="row">
				<table>
					<tr class="thColor">
						<th>品名</th>
						<th>数量</th>
						<th>&nbsp;&nbsp;</th>
					</tr>
					<tr class="thColor">
						<td>454-CK冻阿华田</td>
						<td>1</td>
						<td>小</td>
					</tr>
					<tr class="thColor">
						<td>1718-菊普</td>
						<td>1</td>
						<td>茶</td>
					</tr>
					<tr class="thColor">
						<td>1717-贡菊花</td>
						<td>1</td>
						<td>茶</td>
					</tr>
					<tr class="thColor">
						<td>76-鲜虾荷叶饭</td>
						<td>1</td>
						<td>超</td>
					</tr>
					<tr class="thColor">
						<td>31-冬菇猪肉肠</td>
						<td>1</td>
						<td>顶</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="content_r">
			<div id="physicalList" class="physicalList">
				<div class="phyList">
					<img src="../img/menu/11.jpg" alt=""/>
					<h5>香辣龙利鱼Q粉&nbsp;<span>优</span></h5>
				</div>
				<div class="phyList">
					<img src="../img/menu/11.jpg" alt=""/>
					<h5>酸辣龙利鱼Q粉&nbsp;<span>优</span></h5>
				</div>
				<div class="phyList">
					<img src="../img/menu/11.jpg" alt=""/>
					<h5>脆皮萝卜蚝仔糕&nbsp;<span>顶</span></h5>
				</div>
				<div class="phyList">
					<img src="../img/menu/11.jpg" alt=""/>
					<h5>黄芥芝士蚝仔糕&nbsp;<span>顶</span></h5>
				</div>
				<div class="phyList">
					<img src="../img/menu/11.jpg" alt=""/>
					<h5>天妇罗炸生蚝&nbsp;<span>顶</span></h5>
				</div>
				<div class="phyList">
					<img src="../img/menu/11.jpg" alt=""/>
					<h5>和味鸭肾&nbsp;<span>顶</span></h5>
				</div>
				<div class="phyList">
					<img src="../img/menu/11.jpg" alt=""/>
					<h5>和味鹅亦&nbsp;<span>优</span></h5>
				</div>
				
			</div>
			<div class="timeWifi">
				<span>2016-2-28 12:15:53</span>
				<span>WIFI.69753208</span>
			</div>
			<div class="page">
			  <button>1</button>
			  <button>2</button>
			  <button>3</button>
				
			</div>
			<div class="menuList">
				<button>最新推荐</button>
				<button>周记手信</button>
				<button>点心</button>
				<button>煎/炸</button>
				<button>西餐类</button>
				<button>特色薄饼</button>
				<button>炖/焗饭</button>
				<button>白灼类</button>
				<button>粥/粉/面</button>
				<button>冷/热饮品</button>
				<button>雪糕</button>
				<button>茶</button>
			</div>
		</div>
	</div>
	<div class="masklayer" id="masklayer" ></div>
	<div class="numberMenu_onclick" id="numberMenu_onclick" >
		<div class="numberArea">
			<input type="text"/>
			<button>1</button>
			<button>2</button>
			<button>3</button>
			<button>4</button>
			<button>5</button>
			<button>6</button>
			<button>7</button>
			<button>8</button>
			<button>9</button>
		</div>
		<div class="btnArea">
			<button>确定</button>
			<button id="numCancle">取消</button>
		</div>
	</div>
	
	<div class="windows" id="foodDetail">
		<div class="img">
			<img src="../img/menu/11.jpg" alt=""/>
		</div>
		<div class="text">
			<span>品名：香辣龙利鱼Q粉&nbsp;优</span>
			<br>
			<span>数量：1</span>
			<br>
			<span>请确认后再下单，下单后无法更改！</span>
		</div>
		<div class="btn">
			<button >下单</button>
			<button id="cancle">取消</button>
		</div>
	</div>
	<script src="../js/menu.js"></script>
</body>
</html>