<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>JS Bin</title>
  <style>
    
		body {
			margin: 0;
		}
		ul,li {
			margin: 0;
			padding: 0;
		}
		ul {
			text-align: center;
			list-style-type: none;
			background-color: #aaa;
		}
		li {
			color: #000;
		}
		li:first-child  {
			float: left;
		}
		li:last-child  {
			float: right;
		}
  </style>
</head>
<body>

	<ul>
		<li>左</li>
		<li style="display:inline-block">中</li>
		<li>右</li>
	</ul>
</body>
</html>