<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>第一课-01 控制div属性</title>
	<link rel="stylesheet" href="../css/101.css">
</head>
<body>
	<div class="contral">
		<button id="btnwidth">变宽</button>
		<button id="btnheight">变高</button>
		<button id="btncolor">变色</button>
		<button id="btndisplay">隐藏</button>
		<button id="btnreset">重置</button>
	</div>
	<div id="pic"></div>
	<script src="../js/public.js"></script>
	<script src="../js/101.js"></script>
	<!-- <div class="contral">
		<button onclick="wid()">变宽</button>
		<button onclick="hei()">变高</button>
		<button onclick="col()">变色</button>
		<button onclick="dis()">隐藏</button>
		<button onclick="res()">重置</button>
	</div>
	<div id="pic"></div> -->
</body>
</html>