<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>第一课-04 用循环将三个div变成红色</title>
	<link rel="stylesheet" href="../css/104.css">
</head>
<body>
<!-- 	<div class="contral">
		<button id="clickchange">点击将div变成红色</button>
	</div> -->

	<!-- 方法1 简单的做法-->
	<!-- <div>
		<div class="pic">第一个</div>
		<div class="pic">第二个</div>
		<div class="pic">第三个</div>
	</div> -->
	<!-- 方法2 查找某一个特定元素 -->
<!-- 	<ul id="content1">
		<li class="pic"></li>
		<li class="pic"></li>
		<li class="pic"></li>
	</ul>
	<ul id="content2">
		<li class="pic"></li>
		<li class="pic"></li>
		<li class="pic"></li>
	</ul> -->
	<!-- 事件委托 -->
	<ul id="box">
		<li class="pic" id="one"></li>
		<li class="pic" id="two"></li>
		<li class="pic" id="three"></li>
	</ul>
	<script src="../js/public.js"></script>
	<script src="../js/104.js"></script>
</body>
</html>