<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>第二课-12 复选框（checkbox）全选/全不选/返选</title>
	<link rel="stylesheet" href="../css/212.css">
</head>
<body>
    <ul class="list">
    	<li>
    		<input type="checkbox"/>
    		<span>全选</span>
    		<a href="#">反选</a>
    	</li>
		<li>
			<input type="checkbox">
    		<span>全选</span>
		</li>
		<li>
			<input type="checkbox">
    		<span>全选</span>
		</li>
		<li>
			<input type="checkbox">
    		<span>全选</span>
		</li>
		<li>
			<input type="checkbox">
    		<span>全选</span>
		</li>
		<li>
			<input type="checkbox">
    		<span>全选</span>
		</li>
    </ul>
</body>
</html>