<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style>
		#box {
			width: 100px;
			height: 100px;
			background-color: #000;
		}
	</style>
</head>
<body>
	<div id="box"></div>
	<button id="btn1">blue</button>
	<button id="btn2">yellow</button>
	<script>
		var btn1 = document.getElementById('btn1');
		var yellow = document.getElementById('btn2');
		var box = document.getElementById('box');
		btn1.onclick = function(){
			box.style.visibility='hidden';
		}
		btn2.onclick = function(){
			box.style.visibility='visible';
		}
		box.onclick = function(){
			btn1.style.backgroundColor='blue';
			btn1.style.color='#fff';
			btn1.innerHTML='world';

		}
		
	</script>
</body>
</html>