<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>第二课-04 弹出层效果</title>
	<link rel="stylesheet" href="../../css/secondLesson/204.css">
</head>
<body>
	<div class="box">
		 <button class="btnClick" id="btnClick" >弹出层</button>
		 <div class="masklayer" id="masklayer"></div>
		 <div class="message" id="message">
		 		<div class="messHeader"></div>
		 		<div class="messMain"></div>
		 	</div>
    </div>
    <script src="../../js/public.js"></script>
    <script src="../../js/secondLesson/204.js"></script>
</body>
</html>