<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>第二课-06 图片列表：鼠标移入/移除改变图片透明度</title>
	<link rel="stylesheet" href="../../css/secondLesson/206.css">
</head>
<body>
	<div class="box">
		<ul class="picList">
			<li>
				<img src="../../img/206/1.jpg" alt="">
			</li>
			<li>
				<img src="../../img/206/2.jpg" alt="">
			</li>
			<li>
				<img src="../../img/206/3.jpg" alt="">
			</li>
			<li>
				<img src="../../img/206/4.jpg" alt="">
			</li>
			<li>
				<img src="../../img/206/5.jpg" alt="">
			</li>
			<li>
				<img src="../../img/206/6.jpg" alt="">
			</li>
			<li>
				<img src="../../img/206/7.jpg" alt="">
			</li>
			<li>
				<img src="../../img/206/8.jpg" alt="">
			</li>
			<li>
				<img src="../../img/206/9.jpg" alt="">
			</li>
			<li>
				<img src="../../img/206/10.jpg" alt="">
			</li>
		</ul>
	</div>
	<script src="../../js/public.js"></script>
	<script src="../../js/secondLesson/206.js"></script>
</body>
</html>