<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>第二课-09 单一按钮显示/隐藏-播放列表收缩展开</title>
	<link rel="stylesheet" href="../../css/secondLesson/209.css">
</head>
<body>
	<div class="box">
	    <h2 class="">播放列表...</h2>
	    <ul style="display: block;">
	        <li><a href="javascript:;">玩家之徒 - 蔡依林</a></li>
	        <li><a href="javascript:;">原谅我就是这样的女生 - 戴佩妮</a></li>
	        <li><a href="javascript:;">猜不透 - 丁当</a></li>
	        <li><a href="javascript:;">自导自演 - 周杰伦</a></li>
	        <li><a href="javascript:;">浪漫窝 - 弦子</a></li>
	        <li><a href="javascript:;">流年 - 王菲</a></li>
	    </ul>
	</div>
	<script src="../../js/public.js"></script>
	<script src="../../js/secondLesson/209.js"></script>
</body>
</html>