<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>第二课-10 提示框效果</title>
	<link rel="stylesheet" href="../../css/secondLesson/210.css">
</head>
<body>
	<div class="box">
		<h4>名车车标展示-鼠标移过显示车标</h4>
		<ul class="textList">
			<li>
				<a href="#" title="BMW 宝马汽车">
					<strong>BMW</strong>
					<span>宝马汽车</span>
				</a>
				<img src="../../img/206/1.jpg" alt="BMW 宝马汽车" style="display: none;">
			</li>
			<li>
				<a href="#" title="Alfa Romeo 阿尔法-罗米欧">
					<strong>Alfa Romeo</strong>
					<span>阿尔法-罗米欧</span>
				</a>
				<img src="../../img/206/2.jpg" alt="Alfa Romeo 阿尔法-罗米欧" style="display: none;">
			</li>
			<li>
				<a href="#" title="Skoda 斯柯达">
					<strong>Skoda</strong>
					<span>斯柯达</span>
				</a>
				<img src="../../img/206/3.jpg" alt="Skoda 斯柯达" style="display: none;">
			</li>
			<li>
				<a href="#" title="Volkswagen 大众汽车">
					<strong>Volkswagen</strong>
					<span>大众汽车</span>
				</a>
				<img src="../../img/206/4.jpg" alt="Volkswagen 大众汽车" style="display: none;">
			</li>
			<li>
				<a href="#" title="Saab  萨布牌轿车">
					<strong>Saab</strong>
					<span>萨布牌轿车</span>
				</a>
				<img src="../../img/206/5.jpg" alt="Saab  萨布牌轿车" style="display: none;">
			</li>
			<li>
				<a href="#" title="Lamborghini 兰博基尼">
					<strong>Lamborghini</strong>
					<span>兰博基尼</span>
				</a>
				<img src="../../img/206/6.jpg" alt="Lamborghini 兰博基尼" style="display: none;">
			</li>
			<li>
				<a href="#" title="Porsche 保时捷">
					<strong>Porsche</strong>
					<span>保时捷</span>
				</a>
				<img src="../../img/206/7.jpg" alt="Porsche 保时捷" style="display: none;">
			</li>
			<li>
				<a href="#" title="Peugeot 标致">
					<strong>Peugeot</strong>
					<span>标致</span>
				</a>
				<img src="../../img/206/8.jpg" alt="Peugeot 标致" style="display: none;">
			</li>
			<li>
				<a href="#" title="Mercedes1 梅赛德斯 奔驰">
					<strong>Mercedes1</strong>
					<span>梅赛德斯 奔驰</span>
				</a>
				<img src="../../img/206/9.jpg" alt="Mercedes1 梅赛德斯 奔驰" style="display: none;">
			</li>
			<li>
				<a href="#" title="Buick 别克汽车">
					<strong>Buick</strong>
					<span>别克汽车</span>
				</a>
				<img src="../../img/206/10.jpg" alt="Buick 别克汽车" style="display: none;">
			</li>
		</ul>
	</div>
	<script src="../../js/public.js"></script>
	<script src="../../js/secondLesson/210.js"></script>
</body>
</html>