<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>第二课-11 鼠标移过，修改图片路径</title>
	<link rel="stylesheet" href="../css/211.css">
</head>
<body>
<ul id="box">
    <li class="first">
        <img src="file:///F:/web/workplace/js/img/211/big_1.jpg"  id="first">
    </li>
    <li>
        <a href="javascript:;">
            <img src="file:///F:/web/workplace/js/img/211/small_1.jpg">
        </a>
    </li>
    <li>
        <a href="javascript:;">
            <img src="file:///F:/web/workplace/js/img/211/small_2.jpg">
        </a>
    </li>
    <li>
        <a href="javascript:;">
            <img src="file:///F:/web/workplace/js/img/211/small_3.jpg">
        </a>
    </li>
    <li>
        <a href="javascript:;">
            <img src="file:///F:/web/workplace/js/img/211/small_4.jpg">
        </a>
    </li>
    <li>
        <a href="javascript:;">
            <img src="file:///F:/web/workplace/js/img/211/small_5.jpg">
        </a>
    </li>
    <li>
        <a href="javascript:;">
            <img src="file:///F:/web/workplace/js/img/211/small_6.jpg">
        </a>
    </li>
    <li>
        <a href="javascript:;">
            <img src="file:///F:/web/workplace/js/img/211/small_7.jpg">
        </a>
    </li>
    <li>
        <a href="javascript:;">
            <img src="file:///F:/web/workplace/js/img/211/small_8.jpg">
        </a>
    </li>
    <li>
        <a href="javascript:;">
            <img src="file:///F:/web/workplace/js/img/211/small_9.jpg">
        </a>
    </li>
    <li>
        <a href="javascript:;">
            <img src="file:///F:/web/workplace/js/img/211/small_10.jpg">
        </a>
    </li>
    <li>
        <a href="javascript:;">
            <img src="file:///F:/web/workplace/js/img/211/small_11.jpg">
        </a>
    </li>
</ul>
<script src="../../js/211.js"></script>
</body>
</html>