<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>第二课-12 复选框（checkbox）全选/全不选/返选</title>
	<link rel="stylesheet" href="../../css/secondLesson/212.css">
</head>
<body>
    <ul class="list">
    	<li>
    		<input type="checkbox" id="firstCbox" class="otherCbox" />
    		<span id="firsrSpan">全选</span>
    		<a href="#" id="selectInvert">反选</a>
    	</li>
		<li>
			<input type="checkbox" class="otherCbox">
    		<span>选项(一)</span>
		</li>
		<li>
			<input type="checkbox" class="otherCbox">
    		<span>选项(二)</span>
		</li>
		<li>
			<input type="checkbox" class="otherCbox">
    		<span>选项(三)</span>
		</li>
		<li>
			<input type="checkbox" class="otherCbox">
    		<span>选项(四)</span>
		</li>
		<li>
			<input type="checkbox" class="otherCbox">
    		<span>选项(五)</span>
		</li>
    </ul>
    <script src="../../js/public.js"></script>
	<script src="../../js/secondLesson/212.js"></script>
</body>
</html>